:root {
  --default-bg-color: #f4f5d4;

  --primary-bg: #3fcefa;
  --primary-color: #007bff;
  --secondary-color: #f4f5d4;
  --accent-color: #13a0ff;
  --danger-color: #fa0921;
  --light-color: white;
  --dark-color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--dark-color);
  background-color: var(--default-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: var(--default-bg-color);
  padding: 0;
  height: 100%;
  width: 100%;
}

.bg-hr {
  width: 80%;
  border-color: var(--light-color);
}

.sm-hr {
  width: 40%;
  border-color: var(--light-color);
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-link {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 700px;
  height: 50vh;
  border-radius: 0 0 5px 5px;
  padding: 0;
  margin: 0 auto; /* Center horizontally */
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-size: cover;
  background-position: center;
  animation: zoom 5s ease-in-out infinite;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 3px;
  width: 80%;
}

.slide-text p {
  margin: 0;
  word-wrap: break-word;
  font-size: 1.2em;
}

.menu-btn {
  height: 50px;
  width: 110px;
  border: none;
  background-color: var(--accent-color);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  color: var(--light-color);
  font-size: 18px;
  font-weight: bolder;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes rollDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 320px;
    opacity: 1;
  }
}

@keyframes rollUp {
  from {
    height: 320px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
  display: none;
}

.overlay.show {
  display: block;
}

#image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
}

.image-container {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 60%;
  max-height: 60%;
  border-radius: 4px;
  cursor: pointer;
}

.order-form,
.read-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffffcc;
  backdrop-filter: blur(10px);
  z-index: 13;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  width: 320px;
  overflow-y: auto;
}
.order-form {
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #faf0d0;
}

.size-select {
  width: 60%;
}

.read-menu ul {
  list-style: none;
  padding: 0;
}

.read-menu li {
  margin-bottom: 10px;
}

.read-menu img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.read-menu button:hover {
  background-color: #0056b3;
}

.menu-img {
  border-radius: 3px;
}

@keyframes loading {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.loading-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  margin: 0 5px;
  animation: loading 1.4s infinite ease-in-out both;
  animation-delay: calc(var(--i) * 0.2s);
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#popup {
  background: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 260px;
}

#popup button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup button:hover {
  background-color: #0056b3;
}

button.pop {
  grid-area: remove;
  align-self: start;
  justify-self: end;
  background-color: #fd1a2d;
  background-image: linear-gradient(45deg, #e63946, #f55b5b);
  border: none;
  color: var(--light-color);
  width: 40px;
  height: 40px;
  border-radius: 30% 50% 50% 30%;
  cursor: pointer;
}

.pay-button {
  width: 100px;
  height: 45px;
  background-color: #029e24;
  background-image: linear-gradient(45deg, #029e24, #05c846);
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pay-button:hover {
  background-image: linear-gradient(45deg, #05c846, #029e24);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.pay-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#close-menu {
  background-color: #fa1f3c;
  border-radius: 8px;
  height: 50px;
  width: 50px;
  font-weight: bold;
  font-size: large;
  z-index: 1;
  float: left;
  border: none;
  border-radius: 30%;
  color: var(--light-color);
}

#read-menu-nav {
  position: sticky;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 425px) {
  .menu-item {
    margin: 3px;
  }

  .order-form,
  .read-menu {
    width: 270px;
  }

  .menu-btn {
    font-size: 15px;
    font-weight: bold;
  }

  .image-container img {
    max-width: 80%;
    max-height: 80%;
  }
}

.order-dialog {
  border: none;
  border-radius: 3px;
}

.order-display-close-button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  font-size: 30px;
  font-weight: bolder;
}

.order-display-container {
  margin-top: 20px;
}

.order-display-details {
  margin-bottom: 15px;
  background-color: #242424da;
  color: white;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.order-display-details p {
  margin-bottom: 5px;
}

.not-found {
  text-align: center;
  padding: 50px;
  margin: 30px auto;
  max-width: 700px;
}

.not-found .img-404 {
  width: 200px;
  height: auto;
}

.not-found h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.not-found p {
  font-size: 1.2rem;
}

/* yoc form styling */
/* Add this to your CSS file */
.yc-auto-shown-popup {
  z-index: 15 !important;
}
