/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
  display: none;
}

.overlay.show {
  display: block;
}

/* Select order modal */
.select-order {
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at right, #ffffff, #fdfdfd, #ffffff);
  z-index: 14;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 80dvh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.select-order .form-group {
  margin-bottom: 15px;
}

.select-order .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.select-order .form-group select,
.select-order .form-group input[type='number'] {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid rgb(108, 105, 105);
  background: none; /* Transparent background */
  text-align: center;
  font-size: 15px;
}

/* Input type number specific styles */
.select-order .form-group input[type='number'] {
  width: 60%;
  font-weight: bold;
}

/* Focus state for select and number input */
.select-order .form-group select:focus,
.select-order .form-group input[type='number']:focus {
  outline: none;
}

.select-order .cancel {
  background-color: var(--danger-color);
  width: 30%;
}

.select-order .basket-btn:hover,
.select-order .cancel:hover {
  opacity: 0.8;
}

.size-select {
  width: 60%;
}

/* Media query for responsive design */
@media only screen and (max-width: 425px) {
  .select-order {
    width: 270px;
  }
}



.order-display-container {
  margin-top: 20px;
}

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12;
  display: none;
}
.overlay.show {
  display: block;
}
/* Select order modal */
.select-order {
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at right, #fcf6d3, #fdfdfd, #f9f8a7f8);
  z-index: 14;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 80dvh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.select-order .form-group {
  margin-bottom: 15px;
}
.select-order .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.custom-select {
  position: relative;
  display: inline-block;

  width: 100%;
}
.select-selected {
  background-color: #3293fa;
  border: 1px solid rgb(108, 105, 105);
  border-radius: 4px;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.select-items {
  position: absolute;
  background: radial-gradient(circle at right, #dfdfdd, #fdfdfd, #fffffff8);
  border: 1px solid rgb(108, 105, 105);
  border-radius: 4px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 15;
}
.select-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgb(50, 49, 49);
}
.select-item:hover,
.select-item.selected {
  color: black;
}
.select-order .form-group input[type='number'] {
  width: 50px;
  font-weight: bold;
  color: black;
}
.select-order .form-group select:focus,
.select-order .form-group input[type='number']:focus {
  outline: none;
}
.select-order .basket-btn,
.select-order .cancel {
  width: 50%;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.select-order .basket-btn {
  border-radius: 4px 0px 0px 4px;
  background: radial-gradient(circle, #0e981c, #0e7f37, #095a2cf8);
}
.select-order .cancel {
  background-color: var(--danger-color);
  border-radius: 0px 4px 4px 0px;
}
.select-order .basket-btn:hover,
.select-order .cancel:hover {
  opacity: 0.9;
}
.menu-img.select {
  width: 80%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
form .buttons {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order-form .form-group {
  display: flex;
  flex-direction: column;
}
.order-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
.order-form input,
.order-form select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.order-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
}
.order-form button:hover {
  background-color: #0056b3;
}
.order-form button.cancel {
  background-color: #f71848 !important;
}
.order-form button[type="submit"].basket-btn {
  width: 150px;
  background-color: #09d424 !important;
}
.size-select {
  width: 60%;
}
.quantity-question {
  text-align: left;
  padding: 5px;
}

/* Media query for responsive design */
@media only screen and (max-width: 425px) {
  .select-order {
    width: 270px;
  }
}
.qrcode-img {
  max-width: 150px;
  height: 150px;
  margin-top: 20px;
  object-fit: contain; /* Ensures the image does not break or crack */
}
/* General container for the CancelOrder component */
.redirect-container-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

/* Text styling */
.redirect-container-order h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: justify;
}

.redirect-container-order p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 20px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .redirect-container-order {
    max-width: 700px;
  }

  .redirect-container-order h1 {
    font-size: 2rem;
  }

  .redirect-container-order p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .redirect-container-order {
    max-width: 800px;
  }

  .redirect-container-order h1 {
    font-size: 2.5rem;
  }

  .redirect-container-order p {
    font-size: 1.4rem;
  }
}

/* General dialog styling */
.order-dialog {
  width: 90%;
  max-width: 600px;
  padding: 25px;
  background: linear-gradient(to bottom right, #f4f5d4, #d7dc70);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80vh;
  text-align:justify;
}

/* Close button styling */
.order-display-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  background-color: #f25a5a;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-display-close-button:hover {
  background-color: #d94444;
}

/* Container for order details */
.order-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Individual order detail box */
.order-display-details {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-display-details p {
  font-size: 16px;
  color: #333;
  margin: 4px 0;
}

.order-display-details strong {
  font-weight: bolder;
  color: #555;
  margin-right:5px;
}

/* Add smooth scrolling */
.order-dialog::-webkit-scrollbar {
  width: 6px;
}
.order-dialog::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.order-dialog::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .order-dialog {
    padding: 15px;
  }

  .order-display-details p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .order-dialog {
    width: 95%;
  }

  .order-display-close-button {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
}
