.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    bottom:0;
    top:0;
    background: #f2f2f2;
    position: fixed; 
    z-index: 999;
  }

.auth-form {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height:500px;
    min-height: 200px;
    width:80%;
    max-width:400px;
    padding:20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

.close-button {
    background: #f44336; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.close-button:hover {
    background: #d32f2f; /* Darker red on hover */
}

.auth-form h2 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.auth-form input,
.auth-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 90%;
    margin: 10px auto;
}

.question-option {
    display: grid;
    grid-template-columns: auto 1fr; /* Checkbox takes minimal space; label takes the rest */
    gap: 8px;
    width: 100%;
    padding: 5px;
}

.question-option input[type="checkbox"] {
    align-self: start; /* Aligns checkbox at the top */
    justify-self: center;
    margin-top: 4px; /* Space from the label */
    width: 15px;
    height: 15px;
}

.question-option label {
    text-align: left;
    word-break: break-word; /* Wraps text to new lines as needed */
    padding: 5px; /* Small padding to align with checkbox */
}

.question-option input[type="text"] {
    grid-column: 1 / -1; /* Spans the full width, starting from the first to the last column */
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.auth-form button {
    padding: 10px;
    background: #4caf50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    width:30%;
    margin:auto;
}

.auth-form button:hover {
    background: #45a049;
}

.auth-form p {
    text-align: center;
    color: #555;
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
}

.auth-form p:hover {
    color: #333;
    text-decoration: underline;
}

/* Additional styles for the back to login link */
.auth-form p.link {
    margin-top: 10px; /* Ensure there is space above the link */
}

/* Media Queries */
@media (max-width: 480px) {
    .auth-container {
        padding: 10px;
    }
  
    .auth-form h2 {
        font-size: 20px;
    }
    .auth-form input,
    .auth-form select {
        font-size: 14px;
    }
    .auth-form button {
        font-size: 14px;
    }
}
