.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  cursor: pointer; /* Make the card clickable */
}

.menu-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(4px);
  z-index: 1;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 3%;
  margin-bottom: 10px;
  position: relative;
  z-index: 2; /* Keep the image above the blurred background */
}

.caption {
  font-size: 18px;
  font-weight: bold;
  color: var(--light-color);
  text-align: center;
  position: absolute;
  bottom: 0px;
  background-color: var(--primary-bg);
  width:100%;
  z-index: 2; /* Keep the caption above the blurred background */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Add a dark overlay */
  z-index: 1;
  border-radius: 5px;
}
