.order-item {
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 20px;
  background: radial-gradient(circle at right, #000000, #302f2f, #1b1b1b);
  color: #fff;
}

.order-item h3 {
  margin-bottom: 5px;
}

.order-detail {
  margin-bottom: 5px;
}

.order-detail-name,
.order-detail-phone,
.order-detail-address,
.order-detail-house-number,
.order-detail-cook-id {
  margin: 10px;
  font-weight: bold;
}

.order-detail-address,
.order-detail-house-number,
.order-detail-timestamp {
  font-size: 0.9rem;
}

.order-detail-payment-method {
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order-detail-payment-total,
.order-detail-delivery-charge {
  padding: 3px 8px;
}

.order-detail-payment-items {
  width: 150px;
  margin: 10px;
}

.order-detail-timestamp,
.order-detail-cook-id {
  color: #fff;
  background-color: rgba(53, 51, 51, 0.6);
  padding: 3px 8px;
  border-radius: 4px;
}

.order-item .status-text {
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #3b3b3b;
  padding: 3px 8px;
}

.order-item .delete-button,
.order-item .edit-button {
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.order-item .delete-button {
  background-color: #cd1e3b;
}

.order-item .edit-button:hover {
  background-color: #0056b3;
}

.order-item .delete-button:hover {
  background-color: #f63c5b;
}
