.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  backdrop-filter: blur(8px);
}

.popup {
  background-color: #f3f5cc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.popup p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.popup button {
  margin-top: 10px; /* Margin on top to separate from content */
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

.clause {
  counter-reset: main-counter; /* Reset the main counter */
  list-style: none;
  padding-left: 20px;
  margin-left: 20px; /* Add indentation to the left */
}

.clause > li {
  counter-increment: main-counter; /* Increment the main counter */
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px; /* Add left padding for indentation */
}

.clause > li::before {
  content: counter(main-counter) ". "; /* Display the main counter */

  position: absolute;
  left: 0px; /* Position numbering at the start of the item */
}

.clause > li {
  counter-reset: sub-counter; /* Reset the sub counter for nested list */
  list-style: none;
  padding-left: 20px;
  margin-left: 20px; /* Add indentation to the nested list */
}

.loading-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Space between the message and the dots */
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0;
  animation: dot-flash 1.5s infinite linear;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-flash {
  0%, 80%, 100% {
    opacity: 0;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(1.3); /* Slightly grow the dots */
  }
}
