.navbar {
  position: sticky;
  top: 0;
  height: 100px; /* Default height */
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 100px 1fr; /* Create three columns */
  align-items: center; /* Center items vertically */
  background-color: var(--primary-bg);
  z-index: 12; /* Ensure it's above other content */
  border-bottom: 1px solid var(--light-color);
  transition: height 0.3s ease; /* Smooth transition for height change */
}

#side-bar {
  grid-column: 1; /* Place the sidebar in the left column */
  justify-self: start; /* Align the sidebar to the start (left) */
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #fdfdfd;
  margin-left: 15px;
}

#logo {
  grid-column: 2; /* Place the logo in the center column */
  justify-self: center; /* Center the logo horizontally */
  width: 100px;
  height: 100px;
}
