.sidebar-link {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
}

.sidebar-nav {
  width: 150px;
  height: 100px;
  padding: 10px;
  background-color:#d5c9b1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 100px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  color: black;
  z-index: 11;
  overflow: auto;
  border: 1px solid black;
}

.sidebar-nav.show {
  animation: rollDown 0.5s forwards;
  opacity: 1;
  visibility: visible;
}

.sidebar-nav.hide {
  animation: rollUp 0.5s forwards;
  opacity: 0;
  visibility: hidden;
}

.sidebar-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.sidebar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-list-item {
  margin-bottom: 10px;
  cursor: pointer;
  text-align: right;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shortcut:hover {
  background-color:white;
  padding: 8px;
  border-radius: 5px;
}

.sidebar-list-item.install-button {
  background: radial-gradient(circle at bottom, #025a12, #038439);
  width: 100px;
  height: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 4px;
  color: whitesmoke;
}
.sidebar-list-item.install-button .icon {
  margin-right: 5px; /* Optional: Adds some space between the icon and text */
}
.icon-inverted {
  transform: scaleX(-1);
}
@keyframes rollDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 320px;
    opacity: 1;
  }
}
@keyframes rollUp {
  from {
    height: 50px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 320px) {
  #side-bar {
    margin: auto;
  }
  .sidebar-nav {
    left: 1px;
    border-left: none;
    border-radius: 0 0 5px 0;
  }
}
