
/* Scoped styles for the order stats component */
.order-stats {
  margin-top: 20px;
  font-size: 1.2rem;
}

/* Scoped styles for the pending orders component */
.pending-orders {
  background: #d8ca01b4;
  font-weight: bolder;
  border-radius: 4px;
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
