.login-form {
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 25px;
  border: 2px solid #f2a6b3;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 310px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-form label {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
  color: #8b5266; /* Warm, muted plum text */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-form input {
  margin-left: 5px;
  border: 1px solid #f2a6b3; /* Light pink border */
  border-radius: 4px;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  height: 30px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#login-btn {
  background-color: #ff85a2; /* Soft rose */
  width: 100px;
  padding: 12px;
  border: none;
  color: #fff; /* White text */
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s ease;
  margin: auto;
}

#login-btn:hover {
  background-color: #e6728d; /* Deeper rose for hover */
}

.mode-toggle {
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 10px;
  background-color: #a3779e; /* Muted lavender */
  color: #fff; /* White text */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.mode-toggle:hover {
  background-color: #8b677b; /* Slightly darker lavender for hover */
}

button {
  cursor: pointer;
  border: 1px solid #f2a6b3; /* Light pink border */
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s ease;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .login-form {
    padding: 15px;
    width: 80%;
    max-width: none;
  }

  .login-form input,
  .login-form button {
    padding: 10px;
  }

  .detail-group {
    padding: 8px;
  }

  .new-detail-label {
    padding: 6px;
    font-size: 14px;
  }
}
