.founder-img {
  float: left;
  margin: 0 20px 20px 0;
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 6px;
  background:inherit;
}

#about {
  text-align: justify;
  padding: 20px;
  max-width: 700px;
  background: radial-gradient(circle, #f4f5d4, #d1d498, #edf0a9);
}
#share-btn {
  height: 40px;
  width: 80px;
  font-size: 15px;
  border-radius: 4%;
  color: var(--light-color);
  background-color: var(--accent-color);
  border: none;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.lang-button {
  border: none;
  height: 40px;
  margin: 5px;
  background: rgb(75, 73, 73);
  border-radius: 4px;
  color: var(--light-color);
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  #about img {
    width: 100px;
    height: 100px;
  }
  #about p {
    padding: 10px;
  }
}
