.order-basket {
  background-color: var(--secondary-color);
  width: 400px;
  border-radius: 2px;
  padding: 5px;
  max-height: 500px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Create a stacking context */
}

.sticky-top {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color); /* Match the order-basket background */
  z-index: 10; /* Ensure it stays above the other content */
  padding: 5px;
  margin: 0; /* Remove any margin that could cause gaps */

  margin-bottom: 10px; /* Add more space between items */
}

.order-item {
  background: #f9fddfda;
  backdrop-filter: blur(3px);
  display: grid;
  grid-template-areas: 
    "img quantity remove" 
    "img size remove" 
    "img total total" 
    "img name name";
  grid-template-columns: 100px 1fr auto;
  grid-template-rows: auto auto auto auto;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 8px #c7c7c7;
  margin-bottom: 10px; /* Add more space between items */
}



.menu-btn.order-btn {
  height: 40px;
  width: 80px;
  font-size: 15px;
  border-radius: 50px;
  color: var(--light-color);
  background-color: #007bff;
}
.order-item * {
  margin: 0;
  font-weight: bold;
}
.order-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  grid-area: img;
  object-fit: cover;
}
.order-name {
  grid-area: name;
  align-self: center;
  margin-left: 50px;
}
.order-quantity {
  grid-area: quantity;
  align-self: center;
}
.order-size {
  grid-area: size;
  align-self: center;
}
.order-total {
  grid-area: total;
  align-self: center;
  justify-self: center;

}
.checkout-button {
  width: 120px;
  height: 50px;
  background-color: #f77f00;
  background-image: linear-gradient(45deg, #f77f00, #ff9b32);
  color: white;
  padding:5px;
  /* font-size: 15px; */
  /* font-weight: bold; */
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.checkout-button:hover {
  background-image: linear-gradient(45deg, #ff9b32, #f77f00);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.checkout-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.checkout-button span {
  margin: 5px;
  font-size: 15px;
}
@media only screen and (max-width: 425px) {
  .order-basket {
    width: 280px;
  }
  .menu-btn {
    font-size: 15px;
    font-weight: bold;
  }
  .order-item {
    grid-template-areas: "img quantity remove" "img size remove"
      "img total total" "name name name";
  }
  .order-img {
    width: 90px;
    height: 90px;
    border-radius: 3px;
  }
  .image-container img {
    max-width: 80%;
    max-height: 80%;
  }
  .order-item {
    grid-template-areas: "img quantity remove" "img size remove"
      "img total total" "name name name";
  }
  .order-img {
    width: 90px;
    height: 90px;
    border-radius: 3px;
  }
}
