#contact {
  text-align: left;
  padding: 20px;
  max-width: 700px;
  background: radial-gradient(circle at top, #000000, #242323, #131010);
  color: white;
  border-radius: 8px 8px 0px 0px; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  display: flex;
  flex-direction: column;
}
#contact .popup {
  color: black;
}
#megaphone {
  height: 30px;
  width: 30px;
  margin: 15px;
}
#contact h3 {
  margin-top: 0;
  font-size: 1.5rem; /* Larger font size for headings */
}
#contact p {
  margin: 10px 0;
  font-size: 1rem;
  /* Base font size for paragraphs */
}
#contact ul {
  list-style-type: none; /* Remove default bullet points */
  margin: 10px 0; /* Space between list and other content */
}

#contact-details li {
  font-family: 'Arial', sans-serif; /* Font family */
  font-size: 1rem; /* Base font size for list items */
  margin-bottom: 10px; /* Space between list items */
  line-height: 1.5; /* Improve readability */
  padding-left: 40px;
  /* Indentation for list items */
  position: relative; /* Required for custom positioning */
  display: flex;
  align-items: center;
}
#contact a {
  text-decoration: none;
  color: var(--primary-color); /* Set consistent link color */
  font-weight: bold;
}
#contact a:hover {
  color: var(--accent-color); /* Change link color on hover */
}
.vendor-inquiry {
  color: whitesmoke; /* Add color to improve visibility */
  font-size: 1rem; /* Ensure consistent font size */
}
#read_terms {
  background: none; /* No background */
  border: none; /* Remove default border */
  color: #fbfbfb; /* Button text color */
  text-decoration: underline; /* Underline the text */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px;
  display: block; /* Make button block-level */
  margin: 20px auto; /* Center button and add margin */
  transition: color 0.3s ease; /* Smooth color transition */
}
#read_terms:hover {
  color: rgb(1, 162, 255); /* Darker blue on hover */
}
#read_terms:focus {
  outline: none; /* Remove default outline */
}
@media screen and (max-width: 320px) {
  #contact-details li {
    padding: 0;
  }
  #contact-details p {
    margin: 0;
    text-align: justify;
  }
  #contact p {
    padding: 10px;
  }
}
#bank_account {
  width:65%;
  margin:auto;
  background: radial-gradient(circle at right, #ffffff, #f0f0f0);
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  color: black; /* Change text color to black */
}

#bank_account hr {
  width: 60%;
  margin-left: 0; /* Align to the left */
  margin-bottom: 30px;
  border: 1px dashed black; /* Customize the line style */
  border-radius: 3px;
}
#bank_account strong {
  color: #333333; /* A darker shade for emphasis */
}
#capitecLogo {
  width: 120px;
  height: 120px;
  display: block;
}
